<div class="w3l-homeblock1 py-5">
    <div class="card" style="width: 30rem;">
        <img src="{{image}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{author}}</h5>
            <p class="card-text">{{description}}</p>
            <a href="#" class="btn btn-primary">{{title}}</a>
        </div>
    </div>
</div>